{% extends "base.html" %}
{% block content %}

    <section class="admin-page">

        <h1 class="admin-title">Admin Panel</h1>

        <!-- ROOM MANAGEMENT -->
        <div class="admin-card">

            <h2>Manage Rooms</h2>

            <form action="/admin/add-room" method="POST" class="room-form">

                <input type="number" name="room_number" placeholder="Room number" required>

                <select name="room_class">
                    <option value="standard">Standard</option>
                    <option value="deluxe">Deluxe</option>
                    <option value="executive">Executive</option>
                </select>

                <input type="number" name="price" placeholder="Price per night" required>

                <input type="number" name="max_guests" placeholder="Max guests" required>

                <button type="submit" class="btn-primary">Add Room</button>

            </form>


        </div>


        <div class="admins-room-container">

            {% for room in rooms %}

                <div class="admin-room-card" data-room-id="{{room.id}}">

                    <div class="room-image">
                        <img src="{{ room.image_url }}" alt="Room picture">
                    </div>

                    <div class="admin-room-info">
                        <h3>Room {{ room.room_number }}</h3>
                        <p><strong>Class:</strong> {{ room.room_class }}</p>
                        <p><strong>Price:</strong> ${{ room.price_per_night }} / night</p>
                        <p><strong>Max guests:</strong> {{ room.max_guests }}</p>

                        <p class="room-status">
                            Status:
                            <span class="status-badge {% if room.status %}active{% else %}inactive{% endif %}">
                                {% if room.status %}Active{% else %}Inactive{% endif %}
                            </span>
                        </p>
                    </div>

                    <div class="room-actions">
                        <button class="toggle-room-btn {% if room.status %}btn-deactivate{% else %}btn-activate{% endif %}" 
                        data-room-id="{{ room.id }}" 
                        data-status="{{ room.status | lower }}"
                        onclick="toggle_roomStatus(this)">
                            {% if room.status %}Deactivate{% else %}Activate{% endif %}
                        </button>
                    </div>

                </div>

            {%endfor%}
        </div>

        <div class="my_bookings">
            <h2 class="admin-bookings-head">All Bookings</h2>
            {% for booking in bookings %}
                <div class="booking-card fade-in">
                    <div class="booking-card__header">
                        <span class="booking-id">Booking #{{ booking.id }}</span>
                        <span class="booking-date">Booked: {{ booking.created_at.strftime('%Y-%m-%d') if booking.created_at else 'N/A' }}</span>
                    </div>
                    
                    <div class="booking-card__body">
                        <div class="bookings-info">
                            <div class="info-group">
                                <label>Room</label>
                                <p>#{{ booking.room.room_number }} ({{ booking.room.room_class | upper }})</p>
                            </div>
                            <div class="info-group">
                                <label>Stay</label>
                                <p>{{ booking.checkin_date }} — {{ booking.checkout_date }}</p>
                            </div>
                            <div class="info-group">
                                <label>Guests</label>
                                <p>{{ booking.guests }} People</p>
                            </div>
                        </div>
                        
                        <div class="booking-price">
                            <label>Total Price</label>
                            <p class="price-amount">${{ booking.total_price }}</p>
                        </div>
                    </div>
                    
                    <div class="booking-card__footer">
                        {% if booking.status %}
                            <span class="confirm-status-badge">Confirmed</span>
                            <button class="cancel-book-btn" onclick="cancelBooking(this)" data-booking-id="{{ booking.id }}">Cancel</button>
                        {% else %}
                            <span class="canceled-status-badge">Canceled</span>
                        {% endif %}
                        
                    </div>
                </div>
            {% else %}
                <div class="no-bookings">
                    <p>No available bookings found.</p>
                </div>
            {% endfor %}
        </div>

    </section>

    <script>

    </script>

{% endblock %}