{% extends "base.html" %}
{% block content %}

<div class="landing_page">

    <section class="hero">
        <div class="overlay"></div>
        <div class="hero-cont">
            <p style="color: #BFA46F;">Hotel</p>
            <h2>Luxuary For Everyone</h2>
            <p>5 Star Quality Since 2026</p>
            <div class="hero-btn-cont">
                <div class="hero-btn room-btn"><a href="/Rooms">Rooms & Suite</a></div>
                <div class="hero-btn more-btn"><a href="/Rooms">Know More</a></div>
            </div>
        </div>
    </section> 

</div>




{% endblock %}